version: '3.8'

services:
  web:
    build: .
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://rasoi:kitchen123@db/rasoidb
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=rasoi
      - POSTGRES_PASSWORD=kitchen123
      - POSTGRES_DB=rasoidb

  redis:
    image: redis:6-alpine

volumes:
  postgres_data: